@charset "utf-8";

* {
    font-family: 'Times New Roman', Georgia, Serif;
}

html, body {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000000;
}

#titlebar {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 0px;
    box-shadow: 0px 2px 3px #a1a1a1;
    position: fixed;
    background-color: #ffffff;
    z-index: 100;
}

#titlebar a {
    display: block;
    letter-spacing: 4px;
    cursor: pointer;
    float: left;
    height: 30px;
    padding: 10px 10px 0px 10px;
    /* margin-bottom: 10px; */
    font-size: 15px;
    line-height: 20px;
}

#titlebar a:hover {
    background-color: #27272747;
}

#titlebar a:first-child {
    position: absolute;
    left: 20px;
}

#titlebar .right3 {
    position: absolute;
    right: 30px;
}
#titlebar .right2 {
    position: absolute;
    right: 140px;
}
#titlebar .right1 {
    position: absolute;
    right: 220px;
}

#titlebar:after {
    float:none;
    clear: both;
    display: block;
    content: '';
}


#header {
    position: relative;
    width: 1600px;
    margin: auto;
}

#header img {
    display: block;
    width: 100%;
    margin: auto;
    position: relative;
    z-index: -1;
}

#header h1 {
    display: block;
    font-size: 36px;
    color: #505050;
    position: absolute;
    bottom: 60px;
    left: 40px;
    letter-spacing: 5px;
}

#header:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}


#about {
    width: 1080px;
    max-width: 100%;
    margin: auto;
    padding-top: 50px;
}

#about * {
    vertical-align: middle;
}

#about img {
    display: block;
    margin: auto;
    width: 50%;
    max-width: 80%;
    min-width: 30%;
    border-radius: 4px;
    float: left;
    margin-right: 40px;
    opacity: 0.8;
}


#about .content1 {
    max-height: 750px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#about h2 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    line-height: 300%;
    letter-spacing: 5px;
    padding-bottom: 10px;
}

#about .subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 5px;
    padding-bottom: 20px;
}


#about p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;

}

#about p:last-child {
    color: #5f5f5f;
    padding-top: 10px;
}

#about:after {
    float: none;
    clear: both;
    content: '';
    display: block;
    padding-bottom: 200px;
}




#menu {
    width: 1080px;
    max-width: 100%;
    margin: auto;
}

#menu img {
    display: block;
    margin: auto;
    width: 45%;
    max-width: 80%;
    min-width: 30%;
    border-radius: 4px;
    float: right;
    margin-left: 40px;
    opacity: 0.8;
}

#menu h2 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    line-height: 300%;
    letter-spacing: 5px;
    padding-bottom: 10px;
}

#menu h3 {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 4px;
    padding-bottom: 20px;
}

#menu p {
    font-size: 12px;
    line-height: 25px;
    font-weight: 400;
    padding-bottom: 40px;
    color: #5f5f5f;
}

#menu:after {
    float: none;
    clear: both;
    content: '';
    display: block;
}

#contact {
    display: block;
    width: 1080px;
    height: auto;
    margin: auto;
    padding-left: 10px;
}

#contact h2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 300%;
    letter-spacing: 5px;
    padding-bottom: 10px;
}

#contact p{
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
    padding-bottom: 20px;
}

#contact p:nth-child(3) {
    font-size: 15px;
    color: #667c89;
    font-weight: bolder;
}

#contact fieldset input{
    display: block;
    width: 100%;
    border: none;
    line-height: 60px;
    border-bottom: 1px solid #505050;
}

#contact a {
    line-height: 100px;
    font-size: 0.9em;
    background-color: #eee;
    padding: 10px;
}



#contact a:hover {
    background-color: #8d8d8d;
}

#footer {
    line-height: 100px;
    margin-top: 50px;
    background-color: #eee;
    text-align: center;
}