* {
    font-family: 'Noto Sans KR';
}

body {
    margin: 0;
    padding: 0;
}

.go-to-up {
    z-index: 99999;
    background-color: black;
    border-radius: 25px;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: block;
    transition: all 0.5s ease-out;
    opacity: 0;
    visibility: hidden;
    a {
        color: white;
        font-size: 15px;
        line-height: 44px;
        text-decoration: none;
        display: block;
    }
}

.pop {
    visibility: visible;
    transition: all 0.5s ease-out;
    opacity:1;
}

.header {
    .jumbotron {
        padding: 80px;
        text-align: center;
        background: #1abc9c;
        color: white;

        h1 {
            font-size: 40px;
        }
    }
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;

    nav {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        a {
            display: block;
            color: white;
            text-align: center;
            text-decoration: none;
            padding: 14px 20px;

            &.right {
                margin-left: auto;
            }

            &:hover {
                background-color: #ddd;
                color: black;
            }

            &.active {
                background-color: #666;
                color: white;
                font-weight: bold;
            }
        }
    }
}

.content {
    max-width : 1200px;
    margin: auto;
    background-color: #eee;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .side {
        width: 360px;
        flex: none;
        border-left: 1px solid #d5d5d5;
        border-right: 1px solid #d5d5d5;
    }

    .main {
        flex: 0 1 auto;
        background-color: white;
        border-right: 1px solid #d5d5d5;
    }

    .container {
        padding: 20px;
    }

    .fakeimg {
        background-color: #aaa;
        width: auto;
        padding: 20px;
    }
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #ddd;
}